.metaStyleDash {
	content: "-----";
	margin-right: 7px;
	letter-spacing: -4px;
	transform: scaleY(.8);
	width: 10px;
	overflow: hidden;
	white-space: nowrap;
	//@include transition_default();
}

.primaryColor {
	color: $primary_color;
}

.secondaryColor {
	color: $secondary_color;
}

.secondaryBG {
	background-color: $secondary_color;
}

.primaryBG {
	background-color: $primary_color;
}

.whiteColor {
	color: $white_color;
}

.whiteBG {
	background-color: $white_color;
}

.blackColor {
	color: $black_color;
}

.blackBG {
	background-color: $black_color;
}


//Fonts extend class
.font_RomeBold {
	font-family: $font_RomeBold;
}

.font_Butler {
	font-family: $font_Butler;
}

.font_ButlerLight {
	font-family: $font_ButlerLight;
}

.font_ModenaScript {
	font-family: $font_ModenaScript;
}

.font_ETmodules {
	font-family: $font_ETmodules;
}

.font_Roboto {
	font-family: $font_Roboto;
}
