.page-main-banner {
	height: calc(100vh - 94px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 96px;
	background-color: #EDE3DE;

	.admin-bar & {
		height: calc(100vh - 126px);
	}

	.main-banner-content {
		text-align: right;
		width: 85%;
		margin: 0 auto 80px auto;
	}

	&.is-front-page {
		.main-banner-content {
			text-align: center;
			margin: 0;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.page-title {
			color: #bcb7bf;
			z-index: 10;
			span {
				color: $white_color;
				left: 50%;
				right: auto;
				transform: translateX(-50%);
				z-index: -1;
			}
		}
	}

	.page-title {
		font-weight: 500;
		color: $banner_color;
		line-height: 300px;
		font-family: $font_ModenaScript;
		position: relative;
		font-size: clamp(4rem, -3.75rem + 20.8333vw, 11.875rem);
		white-space: nowrap;

		span {
			font-family: $font_Roboto;
			display: block;
			position: absolute;
			top: 60px;
			right: 0;
			font-weight: 300;
			font-size: 80%;
			color: #FFf;
			letter-spacing: clamp(1rem, -10.2431rem + 21.9907vw, 6.25rem);
			@media (max-width: 600px) {
				font-size: 100%;
			}
		}
	}

	.admin-bar & .header-scroll-bounce {
		bottom: 50px;
	}

	.header-scroll-bounce {
		width: 26px;
		height: 40px;
		border-radius: 30px;
		border: 3px solid $white_color;
		position: absolute;
		animation: fullwidth-header-bounce 2.2s ease-out infinite;
		bottom: 42px;
		left: 50%;
		right: 40%;
		margin-left: -13.5px;

		&:after {
			content: "";
			position: absolute;
			top: 6px;
			left: 50%;
			width: 6px;
			height: 6px;
			margin-left: -3px;
			background: $white_color;
			border-radius: 50%;
		}
	}
}
