/*===============================
Section Title
================================*/

.elementor-section-wrap {
	overflow: hidden;
}

.section-title-wrapper {
	position: relative;
	margin-bottom: 40px;

	.title-inner-wrapper {
		position: relative;
		z-index: 2;
	}

	.bg-title-wrap {
		position: absolute;
		top: -7px;
		left: 0;
		width: 100%;
		display: none;
	}

	.top-sub-title-wrap {
		display: inline-block;
	}

	.top-sub-title {
		font-size: 50px;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		color: $title_color;
		font-weight: 500;
		font-family: $font_RomeBold;
		text-transform: uppercase;
		letter-spacing: 4px;
		line-height: 1.4em;

		i {
			font-size: 7px;
			margin-right: 5px;
		}
	}

	.main-title {
		color: $title_color;
		font-size: 40px;
		line-height: 1.2em;
		margin-bottom: 30px;
		span {
			display: inline-block;
		}
	}

	.description {
		text-align: justify;

		a {
			color: #cab1ae;
			font-weight: 400;
		}

		p {
			margin-bottom: 0;
		}

		ul {
			padding-top: 15px;

			li {
				margin-bottom: 10px;
				color: $title_color;
			}
		}
	}

	a.title-link-button {
		z-index: 11;
		position: absolute;
	}
}

@media (max-width: 767px) {
	.section-title-wrapper {
		.background-title {
			font-size: 80px;
		}
	}
}

@media (max-width: 574px) {
	.section-title-wrapper {
		.description {
			br {
				display: none;
			}

			p {
				display: inline;
			}
		}

		.main-title {
			br {
				display: none;
			}
		}
	}
}
