/* Testimonial Block
=================================================*/

.rt-el-testimonial-carousel {

	.testimonial-content {
		transform: translateY(40px);
		transition: transform 0.4s;
	}

	li.is-active .testimonial-content {
		transform: translateY(0);
	}
}
