/* Testimonial Block
=================================================*/

.rt-el-testimonial-carousel {

	.testimonial-content {
		transform: translateY(40px);
		transition: transform 0.4s;

		text-align: center;

	}

	.testimonial-img {
		margin-bottom: 20px;
		img {
			display: inline-block;
			border-radius: 50%;
		}
	}

	.item-title {
		font-size: 20px;
		line-height: 28px;
		text-transform: uppercase;
		font-family: $font_RomeBold;
		font-weight: 300;
		letter-spacing: 4px;
	}

	.item-content {
		font-family: $font_ButlerLight;
		font-size: 18px;
		line-height: 30px;
		color: #333333;
		font-weight: 300;
		margin-bottom: 30px;
	}

	.item-name {
		font-family: $font_Butler;
		font-size: 18px;
		line-height: 30px;
		color: #333333;
		font-weight: 400;
	}


	.slick-active .testimonial-content {
		transform: translateY(0);
	}
}

.rt-carousel {
	opacity: 0;
}

.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		background: rgba(0, 0, 0, .3);
		width: 12px;
		height: 12px;
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		border-radius: 50% !important;
		padding: 0;
		margin: 0 3px;

		&:hover {
			background: $title_color;
		}
	}

	.slick-active button {
		background: $title_color;
	}
}
