.page-main-banner {
	height: calc(100vh - 96px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;

	.main-banner-content {
		text-align: right;
		width: 85%;
		margin: 0 auto 130px auto;
	}

	.page-title {
		font-weight: 500;
		color: $banner_color;
		font-size: 190px;
		line-height: 300px;
		font-family: $font_ModenaScript;
	}

	.header-scroll-bounce {
		width: 27px;
		height: 40px;
		border-radius: 30px;
		border: 3px solid $white_color;
		position: absolute;
		animation: fullwidth-header-bounce 2.2s ease-out infinite;
		bottom: 70px;
		left: 50%;
		right: 40%;
		margin-left: -13.5px;

		&:after {
			content: "";
			position: absolute;
			top: 10px;
			left: 50%;
			width: 6px;
			height: 6px;
			margin-left: -3px;
			background: $white_color;
			border-radius: 50%;
		}
	}
}
